@import "../../variables.scss";

.login-container {
  background-image: url("/assets/images/bg-login.png") !important;
  height: 97vh !important;

  .login-form-wrapper {
    padding: 8% 0 0 8% !important;

    .page-title-container {
      h1 {
        color: $primary-color !important;
      }
      h3 {
        color: rgba(0, 0, 0, 0.45);
      }
    }

    .form-login {
      .ant-form-item {
        margin-bottom: 24px;
      }
      .button-login {
        border: none;
        box-shadow: none;
        border-radius: 20px;
        background-color: $yellow-color;
        color: $primary-color;
        font-weight: 700;
      }
    }
  }

  .login-image-wrapper {
    background-image: url("/assets/images/login-clip-path.png") !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: -1.5rem -3rem -1.5rem 0;

    .ant-image.css-dev-only-do-not-override-relbw9 {
      float: right !important;
    }

    .login-image {
      margin: 4% 0 0 0;
    }
  }
}
