@import "../../variables.scss";

#login {
  &.content-wrapper {
    padding: 0px !important;
    background-image: url("/assets/images/login-clip-path.svg") !important;
    background-repeat: no-repeat;
    background-position: top right;
  }
  .login-container {
    background-image: url("/assets/images/bg-login.png") !important;
    background-size: contain;
    background-repeat: no-repeat;
    height: 100vh;

    .login-form-wrapper {
      padding: 0 0 0 8% !important;

      .page-title-container {
        h1 {
          color: $primary-color !important;
        }
        h3 {
          color: rgba(0, 0, 0, 0.45);
        }
      }

      .form-login {
        .ant-form-item {
          margin-bottom: 24px;
        }
        .button-login {
          border: none;
          box-shadow: none;
          border-radius: 20px;
          background-color: $yellow-color;
          color: $primary-color;
          font-weight: 700;
        }
      }

      .ant-select {
        width: 100% !important;
      }
    }

    .login-image-wrapper {
      padding-left: 75px;
      .ant-image.css-dev-only-do-not-override-relbw9 {
        float: right !important;
        width: 98%;
      }

      .login-image {
        border-radius: 20px 0 0 20px !important;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
      }
    }
  }
}
