@import "../../variables.scss";

#explore-studies-page {
  .explore-content-wrapper {
    margin-top: 2rem;

    .explore-info-wrapper {
      width: 100%;
      padding: 32px 48px;
      border-radius: 20px;
      background: #d0e2e2;
      border: none;

      .explore-info-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h2,
        p {
          text-align: center;
          color: #01625f;
        }

        h2 {
          font-family: "RocGrotesk";
          font-size: 28px;
          font-style: normal;
          font-weight: 700;
          line-height: 0;
        }

        p {
          font-family: "TabletGothic";
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 32px;
        }
      }
    }

    .info-card-wrapper {
      border-radius: 20px;
      border: 1px solid #e9e9e9;

      .ant-card-head {
        padding: 10px 20px;
        background: $primary-color;
        color: #fff;
        min-height: $card-head-min-height;
      }

      .ant-card-head-title {
        font-size: 0.9rem !important;
      }

      .ant-card-body {
        padding: 20px !important;
      }
    }

    .explore-filter-wrapper {
      .ant-select,
      .ant-input {
        width: 100%;
      }

      .filter-label {
        font-family: "TabletGothic";
        margin-bottom: 4px;
      }

      .search-button {
        font-family: "TabletGothic";
        border-radius: 40px;
        border: 1px solid #01625f;
        background: #01625f;
        font-weight: 400;
        color: #fff;
      }
    }

    .map-container {
      background-image: url("/assets/images/explore-studies.svg") !important;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      height: 35rem;
      margin-top: 50px;
    }

    .table-wrapper {
      .ant-table-thead > tr > th.ant-table-cell {
        background: #01625f;
        color: #fff;
      }

      .ant-table-thead > tr > th::before {
        background: none;
      }
    }
  }
}
