@import "./variables.scss";

#root {
  header {
    background: $primary-color;
    padding: 12px 24px;

    .title {
      margin-left: 24px;
      h3 {
        color: #ffffff;
      }
    }
  }

  .logo {
    width: 125px;
    height: 50px;
    background-image: url("/assets/images/logo.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .content-container {
    padding: 12px 24px !important;
    min-height: 93vh;
    background: $bg-color-grey;
  }

  .loading-container {
    display: flex;
    justify-content: center;
    align-content: center;
  }
}
