@import "./variables.scss";

#root {
  // global css setting
  font-family: "TabletGothic";

  h1 {
    font-family: "RocGrotesk" !important;
    font-weight: 700 !important;
    font-size: 2.7rem;
  }

  h2 {
    font-family: "TabletGothicBold" !important;
  }

  h3,
  h4,
  h5,
  h6,
  p,
  a {
    font-family: "TabletGothic" !important;
  }

  .page-title {
    color: $primary-color !important;
  }
  .page-subtitle {
    color: rgba(0, 0, 0, 0.45);
    font-size: 1.5rem;
    font-weight: normal;
  }

  .button-green {
    border: 2px solid $primary-color;
    border-radius: 20px;
    color: $primary-color;
    font-weight: 700;
  }

  .button-green-fill {
    background: $primary-color;
    border-radius: 20px;
    color: #ffffff !important;
    font-weight: 700;
  }
  // EOL global css setting

  header {
    height: 5rem;
    background: $bg-color-white;
    padding: 0.5rem $default-padding-size;
    display: flex;
    align-items: center;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);

    .title {
      margin-left: $default-padding-size;
      h3 {
        color: #ffffff;
      }
    }

    .navigation-container {
      margin-left: $default-padding-size;
      align-self: flex-end;
      float: right;
      a {
        color: $primary-color;
        font-weight: 700;
        font-size: 0.95rem;
      }
      .nav-sign-in {
        background-color: $primary-color;
        color: #ffffff;
        padding: 12px 18px;
        border-radius: 20px;
      }
    }
  }

  .button {
    border-radius: 20px;
    font-weight: 600;
    color: $primary-color;
    padding: 12px 18px;
    min-height: 48px;
  }
  .button-yellow {
    background-color: $yellow-color;
  }
  .button-secondary {
    border: 2px solid $primary-color;
  }
  .button-submit {
    margin: 1rem 0px;
  }

  .ant-breadcrumb {
    padding: 0px $default-padding-size;
  }

  .table-content-container {
    .search-and-add {
      margin: 1rem 0px;
      background: $bg-color-grey;

      .ant-card-body {
        padding: 10px 0 20px 0;
      }

      .search {
        width: 30vw;
        button {
          // border-color: $bg-color-grey;
          // background-color: $bg-color-grey;
          color: #000;
        }
      }
    }

    .table-content-wrapper {
      border: 1px solid rgba(0, 0, 0, 0.15);
      border-radius: 8px;

      .ant-table-title {
        padding: 0 16px;
        background: $primary-color;
        color: #fff;

        h4 {
          font-weight: 700;
        }

        label {
          color: #fff;
        }

        .ant-select-selection-placeholder {
          font-weight: 500;
          color: #000;
        }
      }
    }

    .ant-table-pagination {
      background: #fff;
      margin: 0;
      padding: 10px 15px;
      border-radius: 0 0 8px 8px;
    }
  }

  aside {
    ul.ant-menu.ant-menu-root.ant-menu-inline.ant-menu-light.css-dev-only-do-not-override-relbw9 {
      padding-top: 12px;
    }

    li.ant-menu-item.ant-menu-item-selected {
      background: #e6f7ff;
      font-weight: 600;
      border-right: 4px solid $primary-color;
    }
  }

  .content-container {
    min-height: calc(100vh - 80px);
    background: $bg-color-grey;

    .content-card-container {
      background-color: $bg-color-grey;

      .ant-card-body {
        padding: 1.5rem 0px 0px;

        .ant-breadcrumb-link {
          font-family: "TabletGothic" !important;
          font-size: 0.95rem;
          font-weight: 600;
          color: #8c8c8c;
        }

        .title {
          padding: 0 $default-padding-size;
          font-family: "TabletGothicBold";
          font-size: 1.5rem;
          font-weight: 600;
          padding-top: 4px;
        }

        .subTitle {
          padding: 0 $default-padding-size;
        }
      }
    }

    .content-wrapper {
      padding: 0 $default-padding-size 3rem $default-padding-size;

      .ant-space {
        width: 100%;
      }

      .ant-select {
        width: 30vw;
      }
    }

    .admin-tab-menu-container {
      padding: 0 $default-padding-size;
      background: $bg-color-grey;
      .ant-tabs-nav {
        margin: 0;
      }
      .ant-tabs-nav-wrap {
        background: $bg-color-grey;
        // padding: 10px 1.5rem 0px;
        .ant-tabs-tab-btn {
          font-family: "RocGrotesk";
          font-size: 1rem;
          font-weight: 700;
          background: $bg-color-grey;
        }
      }
    }
  }

  .ant-card {
    box-shadow: none;
    border: none;
    font-family: "TabletGothic" !important;
    .ant-card-title {
      font-family: "TabletGothicBold";
      font-size: 1.5rem;
      font-weight: 600;
    }
    .ant-card-body {
      font-family: "RocGrotesk" !important;
    }
  }

  .loading-container {
    padding: 8rem;
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100%;
    width: 100%;
  }

  .ant-timeline {
    font-family: "RocGrotesk";
    font-weight: bold;
    .ant-timeline-item {
      color: $muted-color;
    }
    .ant-timeline-item-content {
      inset-block-start: -3px;
    }
    .ant-timeline-item-head {
      border-color: $muted-color;
      background-color: transparent;
      width: 15px;
      height: 15px;
    }
    .ant-timeline-item-tail {
      inset-inline-start: 7.5px;
    }
  }

  .ant-form {
    input {
      font-family: "TabletGothic";
    }
    .ant-form-item {
      .ant-form-item-explain-error {
        font-family: "TabletGothic";
      }
    }
  }
  .ant-select-selection-placeholder,
  .ant-select-selection-item,
  .ant-form-item-label {
    font-family: "TabletGothic";
    text-align: left;
  }
  .chart-container {
    padding: 24px;
  }
  .alert-box {
    font-family: "TabletGothic";
    margin-bottom: 1.5rem;
    border-radius: 5px;
    border: none;
    &.ant-alert-success {
      background-color: $primary-color;
      color: #ffffff;
    }
  }
}

.ant-popover {
  .ant-popover-inner-content {
    .fn-info {
      font-family: "TabletGothic" !important;
      font-size: 12px;
    }
  }
}

.ant-picker-dropdown {
  .ant-picker-cell {
    color: #000;
  }
  .ant-picker-cell-disabled {
    color: rgba(0, 0, 0, 0.25);
  }
}
