@import "./variables.scss";

#root {
  .logo {
    width: 125px;
    height: 50px;
    background-image: url("/assets/images/logo.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .content-container {
    padding: 24px !important;
    min-height: 82vh;
    background: $bg-color-grey;
  }

  .loading-container {
    display: flex;
    justify-content: center;
    align-content: center;
  }
}
