$primary-color: #26605f;
$bg-color-grey: #f0f2f5;
$bg-color-white: #ffffff;
$yellow-color: #ffc505;

$default-space-size: 1.5rem;
$default-ant-card-body-padding: 0.9rem 1.5rem;
$default-padding-size: 5rem;
