@import "../../../variables.scss";

#get-started {
  padding: 3rem $default-padding-size;
  background: #fcf9f4;

  h2 {
    color: #00403e;
    font-family: "Roc Grotesk";
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -0.8px;
  }

  .get-started-info-wrapper {
    .number {
      color: #00625f;
      text-align: center;
      font-family: "RocGrotesk";
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: 28px;
      letter-spacing: -0.28px;

      padding: 4px 8px;
      background: $yellow-color;
      border-radius: 100px 70px 100px 70px;
    }

    .title {
      color: #00625f;
      font-family: "RocGrotesk";
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: 28px;
      letter-spacing: -0.336px;
    }

    .description {
      color: #000;
      font-family: "TabletGothic";
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
      padding-left: 36px;
    }
  }

  .button-wrapper {
    padding-left: 36px;
    margin-top: 48px;
  }

  .image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0 0 3rem;

    img {
      border-radius: 20px;
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    }
  }
}

#explore-studies {
  background-color: #ffffff;
  width: 100%;
  padding: 3rem $default-padding-size;

  h2 {
    color: #00403e;
    text-align: center;
    font-family: "RocGrotesk";
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 52px;
  }

  p {
    color: #005855;
    text-align: center;
    font-family: "TabletGothic";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
  }

  .map-container {
    background-image: url("/assets/images/explore-studies.svg") !important;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 35rem;
    margin-top: 50px;
  }
}
