@import "../../variables.scss";

.welcome-container {
  background-image: url("/assets/images/bg-login.png") !important;
  min-height: 97vh !important;

  .right-clip-path-wrapper {
    background-image: url("/assets/images/login-clip-path.png") !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 55%;
    position: absolute;
    top: 5rem;
    right: 0;
    bottom: 0;
  }

  .welcome-content-wrapper {
    padding: 1.5rem $default-padding-size;

    .card-menu-wrapper {
      .card-container {
        background-color: rgba(255, 255, 255, 1);
        border-radius: 8px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        // min-height: 10rem;

        .ant-card-body {
          padding: 0 !important;
        }

        .card-content-wrapper {
          .icon-wrapper {
            background: rgba(38, 96, 95, 0.3);
          }

          .text-wrapper {
            padding: 0 1.25rem;
            h4 {
              font-size: 1.5rem;
              color: $primary-color;
              margin: 0.3rem 0;
            }
            p {
              margin: 0;
            }
          }
        }
      }
    }
  }
}
