@import "../../variables.scss";

#case {
  .case-content {
    margin-top: 2rem;
    .ant-card-head-title {
      font-family: "TabletGothic";
      font-size: 1.5rem;
    }

    .segment-group {
      .ant-card-head {
        padding: 0px;
        h3 {
          font-size: 24px;
          margin: -1px;
          padding: 10px 24px;
          small {
            position: absolute;
            right: 24px;
            top: 16px;
            cursor: pointer;
          }
        }
        margin-bottom: 0px;
        .ant-card-extra {
          padding: 10px 24px;
        }
      }
      .ant-card-body {
        padding: 0px;
        .ant-card-grid {
          padding: 10px 24px;
          h2 {
            &.section-title {
              background: #e6f7ff;
              font-size: 18px;
              margin: -10px -24px 24px -24px;
              padding: 10px 24px;
              position: relative;
              width: calc(100% + 48px);
              small {
                position: absolute;
                right: 24px;
                top: calc(50% - 9px);
              }
            }
          }
          h3 {
            background: #ffffff;
            font-size: 14px;
            padding: 10px 24px;
            font-weight: bold;
            margin: 0px;
            &.diversified-income-title {
              padding: 22px 45px !important;
            }
          }
          h4 {
            small {
              &.unit {
                position: absolute;
                right: 0;
                top: 22px;
              }
            }
          }
          .ceret-up {
            color: green;
          }
          .ceret-down {
            color: red;
          }
        }
        .ant-input-number-disabled {
          color: #666;
        }
      }
    }
    .card-subtitle {
      padding: 10px 0;
    }
    .ant-card-body {
      padding-bottom: 0px;
    }
    .timeline-container {
      padding: 1.5rem 0px;
    }
  }
  h3 {
    margin: 0px -24px 10px;
    padding: 0px 24px 10px;
    font-weight: normal;
  }
  .ant-timeline-item {
    cursor: pointer;
  }
  .ant-tabs-nav-wrap {
    background: #fff;
    padding: 10px 1.5rem 0px;
    .ant-tabs-tab-btn {
      font-family: "TabletGothicBold";
      font-size: 1rem;
      background: #fff;
      text-shadow: none;
    }
  }
  .anticon {
    &.finished-dot {
      font-size: 20px;
      position: absolute;
      width: 20px;
      height: 20px;
      left: 1px;
      bottom: -4px;
      color: #26605f;
    }
  }
  .current-feasible-field {
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .data-fields-title {
    background: $primary-color;
  }
}
