@import "../../variables.scss";

#case {
  .case-content {
    margin-top: 2rem;

    .case-title-wrapper {
      border-radius: 20px;
      background: $primary-color;
      padding-bottom: 24px;
      color: #fff;
      min-height: 110px;

      h2,
      p {
        line-height: 0.75rem;
        width: 90%;
      }

      h2 {
        font-size: 1.5rem;
      }

      .case-title-icon {
        position: absolute;
        bottom: 0;
        right: 0;
        border-radius: 0 0 20px 0;
      }
    }

    .case-detail-card-wrapper {
      border-radius: 20px;
      .ant-card-head {
        padding: 20px 24px 12px 24px;
      }

      .case-detail-child-card-wrapper {
        border: 1px solid #e9e9e9;

        .ant-card-head {
          background: $primary-color;
          color: #fff;

          .ant-card-head-title {
            font-size: 0.95rem;
          }
        }
      }
    }

    .ant-card-head-title {
      font-family: "TabletGothic";
      font-size: 1.2rem;
    }

    .chart-container {
      padding: 10px 20px 10px 20px;

      .ant-card-head {
        padding: 0;
      }

      .ant-card-body {
        padding: 0px;
      }
    }

    .income-driver-dashboard {
      margin-bottom: 1rem;
      .information-box {
        border-radius: 4px;
        background: #cce0df;
        h3 {
          text-align: center;
          background: transparent !important;
        }
        .information-box {
          background: #00625f;
          color: #fff;
        }
      }
    }

    .income-driver-dashboard,
    .segment-group {
      .segment-child-wrapper {
        border: 1px solid #e9e9e9;
        border-radius: 20px;

        .ant-card-head {
          background: $primary-color;
          color: #fff;
          padding: 10px 20px 0 20px;
        }
      }
      .ant-card-head {
        padding: 0px;
        h3 {
          font-size: 24px;
          margin: -1px;
          padding: 10px 24px;
          small {
            position: absolute;
            right: 24px;
            top: 16px;
            cursor: pointer;
          }
        }
        // handle scenario modeling page
        .scenario-header-wrapper {
          padding: 10px 24px;
          h3 {
            padding: 0;
          }
        }
        p {
          font-size: 14px;
          font-weight: normal;
        }
        // handle scenario modeling page
        margin-bottom: 0px;
        .ant-card-extra {
          padding: 10px 24px;
        }
        .ant-card-head-wrapper {
          align-items: start;
        }
        .card-extra-wrapper {
          margin-top: 15px;
        }
      }
      .ant-card-body {
        padding: 0px;
        .total-diversified-income {
          margin-left: -4px;
          margin-right: -4px;
          row-gap: 8px;
          background: white;
          padding-left: 8px;
          // padding-right: 8px;
        }
        .ant-card-grid {
          padding: 10px 20px;
          box-shadow: none;
          h2 {
            &.section-title {
              // background: #e6f7ff;
              font-size: 0.95rem;
              margin: -10px -24px 0 -24px;
              padding: 10px 24px;
              position: relative;
              width: calc(100% + 48px);
              small {
                position: absolute;
                right: 24px;
                top: calc(50% - 9px);
              }
            }
          }
          h3 {
            background: #ffffff;
            font-size: 14px;
            padding: 10px 24px;
            font-weight: bold;
            margin: 0px;
            &.diversified-income-title {
              padding: 22px 40px !important;
            }
          }
          h4 {
            small {
              &.unit {
                position: absolute;
                right: 0;
                top: 22px;
              }
            }
          }
          .percentage-wrapper {
            font-size: 0.8rem;
            .ceret-up {
              color: green;
            }
            .ceret-down {
              color: red;
            }
          }
        }
        .ant-input-number-disabled {
          color: #666;
        }
      }
    }
    .card-subtitle {
      padding: 10px 0;
    }
    .ant-card-body {
      padding-bottom: 0px;
    }
    .timeline-container {
      padding: 2rem 5.5rem;
      margin-left: -$default-padding-size;
      position: fixed;
      top: 171px;
      width: 100%;
      z-index: 100;
      background-color: $bg-color-grey;
    }
  }
  h3 {
    margin: 0px -24px 10px;
    padding: 0px 24px 10px;
    font-weight: normal;
  }
  h4 {
    margin: 10px 0px;
  }
  .ant-timeline-item {
    cursor: pointer;
  }

  .ant-tabs {
    border-radius: 20px;
    background: #fff;
    padding: 10px 0 20px 0;
  }

  .ant-tabs-nav-wrap {
    border-radius: 20px;
    background: #fff;
    padding: 10px 1.5rem 0px;
    .ant-tabs-tab-btn {
      font-family: "TabletGothicBold";
      font-size: 1rem;
      background: #fff;
      text-shadow: none;
    }
  }

  .anticon {
    &.finished-dot {
      // position: absolute;
      font-size: 20px;
      width: 20px;
      height: 20px;
      left: 1px;
      bottom: -4px;
      color: #26605f;
    }
  }
  .current-feasible-field {
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .data-fields-title {
    background: $primary-color;
  }
  .binning-input {
    width: 100% !important;
  }
  .income-driver-table {
    table {
      border-radius: 5px;
      th,
      td {
        font-family: "TabletGothic";
        background: $secondary-color;
        border: none;
      }
      th {
        border-bottom: solid $primary-color 1px;
        &::before {
          display: none;
        }
      }
      tfoot.ant-table-summary {
        background: $secondary-color;
        td {
          background: $secondary-color;
          border-top: solid $primary-color 1px;
          font-family: "TabletGothic";
        }
      }
    }
  }
  #sensitivity-analysis {
    .ant-form-item {
      margin-bottom: 0px;
    }
  }

  .ant-steps-item-title {
    cursor: pointer;
  }
  #scenario-modeling {
    font-family: "TabletGothic";
    .scenario-field-item {
      margin-bottom: 0px;
    }
  }

  .chart-title {
    margin: 0px 0px -10px 0px;
    padding: 0px 24px 10px 0;
  }

  #income-overview-chart {
    .income-overview-chart-wrapper {
      padding: 0 20px;
    }
  }

  .chart-card-wrapper {
    border-radius: 20px;
    border: 1px solid #e9e9e9;

    .ant-card-head {
      background: $primary-color;
      color: #fff;
    }

    .ant-card-head-title {
      font-size: 0.95rem;
    }

    .ant-card-body {
      padding: 0 20px !important;
    }
  }

  .info-card-wrapper {
    border-radius: 20px;
    border: 1px solid #e9e9e9;

    .ant-card-head {
      background: $primary-color;
      color: #fff;
    }

    .ant-card-head-title {
      font-size: 0.95rem;
    }

    .ant-card-body {
      padding: 20px !important;
    }
  }
}
