@import "../../variables.scss";

#case {
  .case-content {
    margin-top: 2rem;
    .ant-card-head-title {
      font-family: "TabletGothicBold";
      font-size: 1.5rem;
    }
    .card-subtitle {
      padding: 10px 0;
    }
    .ant-card-body {
      padding-bottom: 0px;
    }
  }
  h3 {
    border-bottom: 1px solid #e8e8e8;
    margin: 0px -24px 10px;
    padding: 0px 24px 10px;
    font-weight: normal;
  }
  .ant-timeline-item {
    cursor: pointer;
  }
  .ant-tabs-nav-wrap {
    background: #fff;
    padding: 10px 1.5rem 0px;
    .ant-tabs-tab-btn {
      font-family: "RocGrotesk";
      font-size: 1rem;
      font-weight: 700;
      background: #fff;
    }
  }
}
